@model LoginVM


@{
    ViewData["Title"] = "ورود";
}
<h3>ورود به سایت</h3>
<hr />
<div class="row">
    <div class="col-md-4">
        <div asp-validation-summary="All"></div>
        <form asp-action="login" method="post">
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password" class="control-label"></label>
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RememberMe" class="control-label"></label>
                <input type="checkbox" asp-for="RememberMe" class="form-control" />
                <span asp-validation-for="RememberMe" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="ورود به سایت" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>


<div>
    <a asp-controller="Home" asp-action="Index">بازگشت</a>
</div>

@section scripts{
    <partial name="_ValidationScriptsPartial" />
}