@model SellerAuctionVM
@{
    ViewData["Title"] = "ایجاد مزایده";
    Layout = "_Layout";
}



<div class="content">
    <div class="dashboard">
        <div class="container">
            <div class="row">
                <!-- partial dashboard -->
                <div class="col-lg-3">
                    <partial name="~/Areas/Seller/Views/Shared/_PartialSellerDashboard.cshtml"></partial>
                </div>
                <!-- end partial dashboard -->
                <!-- content -->
                <div class="col-lg-9">


                    <h3>ایجاد مزایده</h3>
                    <hr />
                    <div class="row">
                        <div class="col-md-4">
                            <form asp-action="Create">
                                <div class="form-group">
                                    <label asp-for="StoreId" class="control-label"></label>
                                    <input hidden asp-for="StoreId" class="form-control" />
                                    <span asp-validation-for="StoreId" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="ProductId" class="control-label"></label>
                                    <br />
                                    <select required asp-for="ProductId" asp-items="@(new SelectList(Model.Products, nameof(ProductDto.Id), nameof(ProductDto.Title)))" class="form-control">
                                        <option style="display:none;" value="">انتخاب کنید</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label asp-for="CountOfProducts" class="control-label"></label>
                                    <input asp-for="CountOfProducts" class="form-control" />
                                    <span asp-validation-for="CountOfProducts" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="StartTime" class="control-label"></label>
                                    <input asp-for="StartTime" class="form-control" />
                                    <span asp-validation-for="StartTime" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="EndTime" class="control-label"></label>
                                    <input asp-for="EndTime" class="form-control" />
                                    <span asp-validation-for="EndTime" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <input type="submit" value="ایجاد" class="btn btn-primary" />
                                </div>
                            </form>
                        </div>
                    </div>


                    <div>
                        <a asp-action="Index" asp-route-id="@Model.StoreId">بازگشت</a>
                    </div>


                </div>
                <!-- end content -->
            </div>
        </div>
    </div>
</div>



@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}