
<div class="ui-boxs">
    <div class="ui-box">
        <div class="ui-box-item">
            <div class="ui-box-item-desc" style="border-radius: 10px;background-color: #fff;">
                <div class="dashboard-user-img-profile">
                    <img src="img/default-icon/user-profile.png" width="80" height="80"
                         class="img-fluid rounded-circle" alt="">
                </div>
                <div class="dashboard-user-info">
                    <h6 class="user-name">@TempData.Peek("SellerName")</h6>
                </div>
                <div class="text-center my-2">
                    @TempData.Peek("StoreTitle")
                </div>
            </div>
        </div>
    </div>
    <div class="ui-box">
        <div class="ui-box-item">
            <div class="ui-box-item-title" style="padding: 15px;">
                <h4 class="fw-bold">
                    حساب کاربری شما
                </h4>
            </div>
            <div class="ui-box-item-desc p-0">
                <ul class="nav flex-column sidebar-menu">
                    <li class="nav-item">
                        <a asp-controller="Dashboard" asp-action="Index" class="nav-link text-muted">
                            <i class="bi bi-house"></i>
                            <span>داشبورد</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a asp-controller="Profile" asp-action="Index" class="nav-link text-muted">
                            <i class="bi bi-person-circle"></i>
                            <span>پروفایل</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a asp-area="Seller" asp-controller="Product" asp-action="Index" asp-route-Id="@TempData.Peek("StoreId")" class="nav-link text-muted">
                            <i class="bi bi-shop"></i>
                            <span>محصولات</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a asp-area="Seller" asp-controller="Auction" asp-action="Index" asp-route-Id="@TempData.Peek("StoreId")" class="nav-link text-muted">
                            <i class="bi bi-hammer"></i>
                            <span>مزایده ها</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}