@using App.Domain.Core.DtoModels;
@model UpdateBuyerProfileVM
@{
    ViewData["Title"] = "ویرایش پروفایل";
    Layout = "_Layout";
}




<div class="content">
    <div class="dashboard">
        <div class="container">
            <div class="row">
                <!-- content -->
                <div class="col-lg-12">
                    <h3>ویرایش پروفایل</h3>
                    <hr />
                    <div class="row">
                        <div class="col-md-4">
                            <form asp-action="Update" method="post">
                                <div class="form-group">
                                    <label asp-for="FirstName" class="control-label"></label>
                                    <input asp-for="FirstName" class="form-control" />
                                    <span asp-validation-for="FirstName" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="LastName" class="control-label"></label>
                                    <input asp-for="LastName" class="form-control" />
                                    <span asp-validation-for="LastName" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="Mobile" class="control-label"></label>
                                    <input asp-for="Mobile" class="form-control" />
                                    <span asp-validation-for="Mobile" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="CityId" class="control-label"></label>
                                    <br />
                                    <select asp-for="CityId" asp-items="@(new SelectList(Model.Cities, nameof(CityDto.Id), nameof(CityDto.Title)))" class="form-control">
                                        <option style="display:none;" value="">انتخاب کنید</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label asp-for="Address" class="control-label"></label>
                                    <input asp-for="Address" class="form-control" />
                                    <span asp-validation-for="Address" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="ProfileImgUrl" class="control-label"></label>
                                    <input asp-for="ProfileImgUrl" class="form-control" />
                                    <span asp-validation-for="ProfileImgUrl" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <input type="submit" value="ویرایش" class="btn btn-primary" />
                                </div>
                            </form>
                        </div>
                    </div>


                    <div>
                        <a asp-controller="BuyerProfile" asp-action="Index">بازگشت</a>
                    </div>

                </div>
                <!-- end content -->
            </div>
        </div>
    </div>
</div>




@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}