<!DOCTYPE html>
<html lang="fa" dir="rtl">


<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <title>@ViewData["Title"] - دکان نت</title>
    <link rel="stylesheet" href="~/css/bootstrap.rtl.min.css">
    <link rel="stylesheet" href="~/css/bootstrap-icons/bootstrap-icons.css">
    <link rel="stylesheet" href="~/css/swiper-bundle.min.css">
    <link rel="stylesheet" href="~/js/plugin/countdown/countdown.css">
    <link rel="stylesheet" href="~/js/plugin/quantity/style.css">
    <link rel="stylesheet" href="~/js/plugin/back-to-top/jquery-backToTop.min.css">
    <link rel="stylesheet" href="~/js/plugin/range/main.min.css">
    <link rel="stylesheet" href="~/js/plugin/bootstrap-touchspin/jquery.bootstrap-touchspin.min.css">
    <link rel="stylesheet" href="~/css/style.css">
    <link rel="stylesheet" href="~/css/responsive.css">
</head>

<body>
    <!-- <div class="header-msg">
        <img src="img/default-icon/header-img.jpg" alt="">
    </div> -->
    <header>
        <div class="container">
            <div class="row top-menu justify-content-center">
                <div class="col-lg-2 text-center d-none d-lg-block order-lg-2 order-3">
                    <a class="btn btn-info h-100 w-50 d-flex justify-content-center align-items-center" asp-area="" asp-controller="Home" asp-action="Index">دکان نت</a>
                </div>
                <div class="col-lg-6 text-center d-none d-lg-block order-lg-2 order-3">
                    <div class="top-menu-search ">
                        <form action="" method="get">
                            <div class="input-group">
                                <input name="txt" type="text" class="search-txt rounded-pill"
                                       placeholder="نام محصول مورد نظر خود را وارد کنید">
                                <button type="submit" class="search-btn input-group-text rounded-pill">
                                    <i class="bi bi-search"></i>
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
                @if (User.Identity.IsAuthenticated)
                {
                    <div class="col-lg-4 text-center col-4 order-lg-3 order-3">
                        <div class="top-menu-btn h-100">
                            <ul class="nav h-100">
                                <li class="nav-item d-xl-block d-none h-100 d-flex justify-content-center align-items-center">
                                    <a class="auth-btn-index pointer btn-danger h-100 d-flex justify-content-center align-items-center" asp-area="" asp-controller="Account" asp-action="Logout">
                                        <i class="bi bi-person-circle d-flex justify-content-center align-items-center"></i>خروج از حساب کاربری
                                    </a>
                                </li>
                                <li class="nav-item d-xl-block d-none d-flex justify-content-center align-items-center">
                                    <span class="nav-link text-white danger-span-border">@User.Identity.Name</span>
                                </li>
                            </ul>
                        </div>
                    </div>

                }
                else
                {
                    <div class="col-lg-4 text-center col-4 order-lg-3 order-3">
                        <div class="top-menu-btn h-100">
                            <ul class="nav h-100">
                                <li class="nav-item d-xl-block d-none h-100 d-flex justify-content-center align-items-center">
                                    <a class="auth-btn-index pointer h-100 d-flex justify-content-center align-items-center" asp-area="" asp-controller="Account" asp-action="Login">
                                        <i class="bi bi-person-circle d-flex justify-content-center align-items-center"></i>ورود به حساب کاربری
                                    </a>
                                </li>
                                <li class="nav-item d-xl-block d-none h-100 d-flex justify-content-center align-items-center">
                                    <a class="auth-btn-index pointer h-100 d-flex justify-content-center align-items-center" asp-area="" asp-controller="Account" asp-action="Register">
                                        <i class="bi bi-person-circle d-flex justify-content-center align-items-center"></i>ثبت نام
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                }
                <div class="col-lg-12 col-4 order-lg-4 order-1 ">
                    <div class="top-menu-menu d-lg-flex d-none">
                        <ul class="navbar-nav">
                            <li class="nav-item">
                                <a href="" class="nav-link border-animate fromCenter">
                                    دسته بندی محصولات <i class="bi bi-list"></i>
                                </a>
                                <ul class="level-one">
                                    <li><a href="">منو شماره 1</a></li>
                                    <li><a href="">منو شماره 2</a></li>
                                    <li class="position-relative">
                                        <a href="">
                                            منو شماره 3 <i class="bi bi-chevron-left"></i>
                                        </a>
                                        <ul class="level-two">
                                            <li><a href="">1 زیر منو شماره </a></li>
                                            <li><a href="">2 زیر منو شماره </a></li>
                                            <li><a href="">3 زیر منو شماره </a></li>
                                        </ul>
                                    </li>
                                    <li><a href="">منو شماره 4</a></li>
                                    <li><a href="">منو شماره 5</a></li>
                                    <li><a href="">منو شماره 6</a></li>
                                </ul>
                            </li>
                            <li class="nav-item">
                                <a href="" class="nav-link border-animate fromCenter">
                                    صفحات <i class="bi bi-newspaper"></i>
                                </a>
                                <ul class="level-one nav-row">
                                    <li><a href="index.html">صفحه اصلی</a></li>
                                    <li><a href="product.html">صفحه محصول</a></li>
                                    <li><a href="category.html">صفحه دسته بندی</a></li>
                                    <li><a href="cart.html">صفحه سبد خرید</a></li>
                                    <li><a href="search.html">صفحه جستجو</a></li>
                                    <li><a href="category-product-row.html">دسته بندی محصولات خطی</a></li>
                                    <li><a href="404.html">صفحه 404</a></li>
                                    <li><a href="login.html">صفحه ورود</a></li>
                                    <li><a href="register.html">صفحه ثبت نام</a></li>
                                    <li><a href="forget.html">صفحه فراموشی رمز عبور</a></li>
                                    <li><a href="blog.html">صفحه وبلاگ</a></li>
                                    <li><a href="blog-detail.html">صفحه جزییات وبلاگ</a></li>
                                    <li><a href="compare.html">صفحه مقایسه محصول</a></li>
                                    <li><a href="checkout.html">پرداخت مرحله ای</a></li>
                                    <li><a href="payment-ok.html">پرداخت موفق</a></li>
                                    <li><a href="payment-nok.html">پرداخت ناموفق</a></li>
                                    <li><a href="product-not-found.html">محصول ناموجود</a></li>
                                    <li><a href="empty-cart.html">سبد خرید خالی</a></li>
                                    <li><a href="dashboard.html"> داشبورد کاربری</a></li>
                                    <li><a href="order.html">سفارشات</a></li>
                                    <li><a href="favorite.html">محصولات مورد علاقه</a></li>
                                    <li><a href="notification.html">اطلاعیه</a></li>
                                    <li><a href="comments.html">نظرات</a></li>
                                    <li><a href="address.html">آدرس ها</a></li>
                                    <li><a href="last-seen.html">آخرین بازدید ها</a></li>
                                    <li><a href="about-us.html">درباره ما</a></li>
                                    <li><a href="contact-us.html">تماس با ما</a></li>
                                </ul>
                            </li>
                            @if (User.Identity.IsAuthenticated)
                            {
                                @if (User.IsInRole("SellerRole"))
                                {
                                    <li class="nav-item">
                                        <a asp-area="Seller" asp-controller="Dashboard" asp-action="index" class="nav-link border-animate fromCenter">
                                            غرفه ی من
                                            <i class="bi bi-shop"></i>
                                        </a>
                                    </li>
                                }
                                else
                                {
                                    <li class="nav-item">
                                        <a asp-area="Seller" asp-controller="Dashboard" asp-action="Create" class="nav-link border-animate fromCenter">
                                            غرفه دار شوید
                                            <i class="bi bi-shop"></i>
                                        </a>
                                    </li>
                                }
                            }



                        </ul>
                    </div>
                    <div class="responsive-menu d-block d-lg-none">
                        <div class="responsive-menu-icon">
                            <span id="showResponsiveMenu" class="pointer"><i class="bi bi-list"></i></span>
                        </div>
                        <div class="rm-body">
                            <div class="rm-overlay"></div>
                            <div class="rm-items">
                                <div class="rm-item-close pointer">
                                    <i class="bi bi-x"></i>
                                </div>
                                <div class="rm-item-img">
                                    <img src="img/default-icon/logo.png" alt="">
                                </div>
                                <div class="rm-item-search">
                                    <div class="top-menu-search ">
                                        <form action="" method="get">
                                            <div class="input-group">
                                                <input name="txt" type="text" class="search-txt rounded-pill"
                                                       placeholder="نام محصول مورد نظر خود را وارد کنید">
                                                <button type="submit" class="search-btn input-group-text rounded-pill">
                                                    <i class="bi bi-search"></i>
                                                </button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                                <ul class="rm-item-menu navbar-nav">
                                    <li class="nav-item bg-ul-f7">
                                        <a href="index.html" class="nav-link">صفحه اصلی</a>
                                    </li>
                                    <li class="nav-item bg-ul-f7">
                                        <a href="" class="nav-link">گوشی موبایل</a>
                                        <span class="showSubMenu"><i class="bi bi-chevron-left"></i></span>
                                        <ul class="navbar-nav h-0">
                                            <li class="nav-item">
                                                <a class="nav-link" href="">برند</a>
                                                <span class="showSubMenu"><i class="bi bi-chevron-left"></i></span>
                                                <ul class="navbar-nav h-0 bg-ul-f7">
                                                    <li class="nav-item"><a href="" class="nav-link">سامسونگ</a></li>
                                                    <li class="nav-item"><a href="" class="nav-link">هوآوی</a></li>
                                                    <li class="nav-item"><a href="" class="nav-link">شیائومی</a></li>
                                                    <li class="nav-item"><a href="" class="nav-link">الجی</a></li>
                                                    <li class="nav-item"><a href="" class="nav-link">سونی</a></li>
                                                </ul>
                                            </li>
                                            <li class="nav-item">
                                                <a class="nav-link" href="">بر اساس رده بندی</a>
                                                <span class="showSubMenu"><i class="bi bi-chevron-left"></i></span>
                                                <ul class="navbar-nav h-0 bg-ul-f7">
                                                    <li class="nav-item"><a href="" class="nav-link">لمسی</a></li>
                                                    <li class="nav-item"><a href="" class="nav-link">دکمه ای</a></li>
                                                    <li class="nav-item"><a href="" class="nav-link">نظامی</a></li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="nav-item bg-ul-f7">
                                        <a href="" class="nav-link">تبلت</a>
                                        <span class="showSubMenu"><i class="bi bi-chevron-left"></i></span>
                                        <ul class="navbar-nav h-0">
                                            <li class="nav-item">
                                                <a class="nav-link" href="">کشور</a>
                                                <span class="showSubMenu"><i class="bi bi-chevron-left"></i></span>
                                                <ul class="navbar-nav h-0 bg-ul-f7">
                                                    <li class="nav-item"><a href="" class="nav-link">ژاپن</a></li>
                                                    <li class="nav-item"><a href="" class="nav-link">کره جنوبی</a></li>
                                                    <li class="nav-item"><a href="" class="nav-link">آمریکایی</a></li>
                                                </ul>
                                            </li>
                                            <li class="nav-item">
                                                <a class="nav-link" href="">بر اساس رده بندی</a>
                                                <span class="showSubMenu"><i class="bi bi-chevron-left"></i></span>
                                                <ul class="navbar-nav h-0 bg-ul-f7">
                                                    <li class="nav-item"><a href="" class="nav-link">لمسی</a></li>
                                                    <li class="nav-item"><a href="" class="nav-link">دانش آموزی</a></li>
                                                    <li class="nav-item"><a href="" class="nav-link">مخصوص بازی</a></li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="nav-item bg-ul-f7">
                                        <a href="" class="nav-link">لپتاپ</a>
                                        <span class="showSubMenu"><i class="bi bi-chevron-left"></i></span>
                                        <ul class="navbar-nav h-0">
                                            <li class="nav-item">
                                                <a class="nav-link" href="">برند</a>
                                                <span class="showSubMenu"><i class="bi bi-chevron-left"></i></span>
                                                <ul class="navbar-nav h-0 bg-ul-f7">
                                                    <li class="nav-item"><a href="" class="nav-link">ایسر</a></li>
                                                    <li class="nav-item"><a href="" class="nav-link">مایکروسافت</a></li>
                                                    <li class="nav-item"><a href="" class="nav-link">ایسوس</a></li>
                                                    <li class="nav-item"><a href="" class="nav-link">اپل</a></li>
                                                    <li class="nav-item"><a href="" class="nav-link">سونی</a></li>
                                                </ul>
                                            </li>
                                            <li class="nav-item">
                                                <a class="nav-link" href="">بر اساس قیمت</a>
                                                <span class="showSubMenu"><i class="bi bi-chevron-left"></i></span>
                                                <ul class="navbar-nav h-0 bg-ul-f7">
                                                    <li class="nav-item"><a href="" class="nav-link">ارزان</a></li>
                                                    <li class="nav-item"><a href="" class="nav-link">اقتصادی</a></li>
                                                    <li class="nav-item"><a href="" class="nav-link">گران</a></li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="nav-item bg-ul-f7">
                                        <a href="" class="nav-link">صفحات</a>
                                        <span class="showSubMenu"><i class="bi bi-chevron-left"></i></span>
                                        <ul class="navbar-nav h-0">
                                            <li><a href="index.html">صفحه اصلی</a></li>
                                            <li class="nav-item">
                                                <a class="nav-link" href="product.html">صفحه محصول</a>
                                            </li>
                                            <li class="nav-item">
                                                <a class="nav-link" href="category.html">
                                                    صفحه دسته
                                                    بندی
                                                </a>
                                            </li>
                                            <li class="nav-item">
                                                <a class="nav-link" href="cart.html">صفحه سبد خرید</a>
                                            </li>
                                            <li class="nav-item">
                                                <a class="nav-link" href="search.html">صفحه جستجو</a>
                                            </li>
                                            <li class="nav-item">
                                                <a class="nav-link"
                                                   href="category-product-row.html">دسته بندی محصولات خطی</a>
                                            </li>
                                            <li class="nav-item"><a class="nav-link" href="404.html">صفحه 404</a></li>
                                            <li class="nav-item">
                                                <a class="nav-link" href="login.html">صفحه ورود</a>
                                            </li>
                                            <li class="nav-item">
                                                <a class="nav-link" href="register.html">
                                                    صفحه ثبت
                                                    نام
                                                </a>
                                            </li>
                                            <li class="nav-item">
                                                <a class="nav-link" href="forget.html">
                                                    صفحه فراموشی رمز
                                                    عبور
                                                </a>
                                            </li>
                                            <li class="nav-item">
                                                <a class="nav-link" href="blog.html">صفحه وبلاگ</a>
                                            </li>
                                            <li class="nav-item">
                                                <a class="nav-link" href="blog-detail.html">
                                                    صفحه جزییات
                                                    وبلاگ
                                                </a>
                                            </li>
                                            <li class="nav-item">
                                                <a class="nav-link" href="compare.html">
                                                    صفحه مقایسه
                                                    محصول
                                                </a>
                                            </li>
                                            <li class="nav-item">
                                                <a class="nav-link" href="checkout.html">
                                                    پرداخت مرحله
                                                    ای
                                                </a>
                                            </li>
                                            <li class="nav-item">
                                                <a class="nav-link" href="payment-ok.html">
                                                    پرداخت
                                                    موفق
                                                </a>
                                            </li>
                                            <li class="nav-item">
                                                <a class="nav-link" href="payment-nok.html">
                                                    پرداخت
                                                    ناموفق
                                                </a>
                                            </li>
                                            <li class="nav-item">
                                                <a class="nav-link" href="payment-nok.html">
                                                    پرداخت
                                                    ناموفق
                                                </a>
                                            </li>
                                            <li class="nav-item">
                                                <a class="nav-link" href="product-not-found.html">
                                                    محصول
                                                    ناموجود
                                                </a>
                                            </li>
                                            <li class="nav-item">
                                                <a class="nav-link" href="empty-cart.html">
                                                    سبد خرید
                                                    خالی
                                                </a>
                                            </li>
                                            <li class="nav-item">
                                                <a class="nav-link" href="dashboard.html">
                                                    داشبورد
                                                    کاربری
                                                </a>
                                            </li>
                                            <li class="nav-item"><a class="nav-link" href="order.html">سفارشات</a></li>
                                            <li class="nav-item">
                                                <a class="nav-link" href="favorite.html">
                                                    محصولات مورد
                                                    علاقه
                                                </a>
                                            </li>
                                            <li class="nav-item">
                                                <a class="nav-link"
                                                   href="notification.html">اطلاعیه</a>
                                            </li>
                                            <li class="nav-item"><a class="nav-link" href="comments.html">نظرات</a></li>
                                            <li class="nav-item">
                                                <a class="nav-link" href="address.html">آدرس ها</a>
                                            </li>
                                            <li class="nav-item">
                                                <a class="nav-link" href="last-seen.html">
                                                    آخرین بازدید
                                                    ها
                                                </a>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>


    <footer class="shadow-md">
        <div class="container">
            <div class="footer">
                <div class="row">
                    <div class="col-md-3">
                        <div class="footer-item">
                            <h5>راهنمای خرید از </h5>
                            <ul class="footer-item-link">
                                <li><a href="">نحوه ثبت سفارش</a></li>
                                <li><a href="">رویه ارسال سفارش</a></li>
                                <li><a href="">شیوه های پرداخت</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="footer-item">
                            <h5>خدمات مشتریان</h5>
                            <ul class="footer-item-link">
                                <li><a href="">پاسخ به پرسش های متداول</a></li>
                                <li><a href="">رویه بازگرداندن کالا</a></li>
                                <li><a href="">شرایط استفاده</a></li>
                                <li><a href="">حریم خصوصی</a></li>
                            </ul>
                        </div>
                    </div>

                    <div class="col-md-3">
                        <div class="footer-item">
                            <div class="feed">
                                <h6>
                                    از تخفیف‌ها فروشگاه باخبر شوید:
                                </h6>
                                <form action="">
                                    <div class="form-group">
                                        <input type="text" class="form-control feed-inp"
                                               placeholder="آدرس ایمیل خود را وارد کنید">
                                        <button type="submit" class="feed-btn">ارسال</button>
                                    </div>
                                </form>
                            </div>
                            <div class="social">
                                <p>ما را در شبکه های اجتماعی دنبال کنید</p>
                                <div class="social-link">
                                    <a href="" class="bi bi-instagram"></a>
                                    <a href="" class="bi bi-twitter"></a>
                                    <a href="" class="bi bi-whatsapp"></a>
                                    <a href="" class="bi bi-youtube"></a>
                                    <a href="" class="bi bi-linkedin"></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="footer-desc">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="footer-desc-item">
                                <h3>فروشگاه  ، بررسی ، انتخاب و خرید آنلاین</h3>
                                <p class="text-muted">
                                    یک خرید اینترنتی مطمئن، نیازمند فروشگاهی است که بتواند کالاهایی متنوع، باکیفیت و
                                    دارای قیمت مناسب را در مدت زمانی کوتاه به دست مشتریان خود برساند و ضمانت بازگشت کالا
                                    هم داشته باشد؛ ویژگی‌هایی که فروشگاه اینترنتی  سال‌هاست بر روی آن‌ها کار کرده و
                                    توانسته از این طریق مشتریان ثابت خود را داشته باشد
                                </p>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="footer-desc-item">
                                <ul class="d-flex justify-content-md-end justify-content-center">
                                    <li><a href=""><img src="img/default-icon/enamad.png" alt=""></a></li>
                                    <li><a href=""><img src="img/default-icon/kasbokar.png" alt=""></a></li>
                                    <li><a href=""><img src="img/default-icon/rezi.png" alt=""></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- end footer -->

    <div class="copy-right">
        <p class="text-muted text-center">
            برای استفاده از مطالب فروشگاه، داشتن «هدف غیرتجاری» و ذکر «منبع» کافیست. تمام
            حقوق اين وب‌سايت نیز برای شرکت  است.
        </p>
    </div>
    <!-- end copy right -->
    <!-- Modal -->
    <div class="modal fade modal-lg product-modal" id="productModal" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <div class="modal-title">
                        <a href="">
                            <div class="d-flex">
                                <i class="bi bi-bag-plus me-1"></i>
                                <h4>
                                    گوشی موبابل شیائومی مدل 12x2002548 دو سیم کارت ظرفیت 256 گیگابایت و رم 8 گیگابایت
                                </h4>
                            </div>
                        </a>
                    </div>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-5 mb-md-0 mb-2">
                            <div class="swiper product-modal">
                                <div class="swiper-wrapper">
                                    <div class="swiper-slide">
                                        <img src="img/product/laptop(1).png" alt="" class="img-fluid">
                                    </div>
                                    <div class="swiper-slide">
                                        <img src="img/product/watch.png" alt="" class="img-fluid">
                                    </div>
                                    <div class="swiper-slide">
                                        <img src="img/product/mobile.png" alt="" class="img-fluid">
                                    </div>
                                    <div class="swiper-slide">
                                        <img src="img/product/shirt1.jpg" alt="" class="img-fluid">
                                    </div>
                                </div>
                                <div class="swiper-button-next sb"></div>
                                <div class="swiper-button-prev sb"></div>
                            </div>
                        </div>
                        <div class="col-md-7">
                            <div class="product-modal-detail">
                                <div class="row">
                                    <div class="col-md-6">
                                        <span class="product-meta-item text-muted">
                                            <i class="bi bi-tag"></i>
                                            مدل:
                                            <a href="">شیائومی</a>
                                        </span>
                                    </div>
                                    <div class="col-md-6">
                                        <span class="product-meta-item text-muted">
                                            <i class="bi bi-tag"></i>
                                            دسته بندی:
                                            <a href="">کالای دیجیتال</a>,
                                            <a href="">تلفن همراه</a>,
                                            <a href="">شیائومی</a>,
                                            <a href="">ارزان کالا</a>,
                                        </span>
                                    </div>
                                    <div class="col-md-6">
                                        <span class="product-meta-item text-muted">
                                            <i class="bi bi-shield-check"></i>
                                            گارانتی:
                                            <span>گارانتی 18 ماهه گرین</span>
                                        </span>
                                    </div>
                                    <div class="col-md-6">
                                        <span class="product-meta-item text-muted">
                                            <i class="bi bi-tag"></i>
                                            برچسب:
                                            <a href="">کالای دیجیتال</a>,
                                            <a href="">تلفن همراه</a>,
                                            <a href="">شیائومی</a>,
                                            <a href="">ارزان کالا</a>,
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="product-modal-feature">
                                <strong>ویژگی های محصول:</strong>
                                <ul>
                                    <li>
                                        <span class="title">سری پردازنده:</span>
                                        <span class="desc">Core i7</span>
                                    </li>
                                    <li>
                                        <span class="title">مقدار رم:</span>
                                        <span class="desc">16 گیگابایت</span>
                                    </li>
                                    <li>
                                        <span class="title">حافظه داخلی:</span>
                                        <span class="desc">512 گیگابایت</span>
                                    </li>
                                    <li>
                                        <span class="title">شبکه های ارتباطی:</span>
                                        <span class="desc">بدون سیم کارت</span>
                                    </li>
                                    <li>
                                        <span class="title">رابط ها:</span>
                                        <span class="desc">جک 3.5 میلیمتری صدا</span>
                                    </li>
                                </ul>
                            </div>

                            <div class="product-modal-price">
                                <span class="old">1,800,000 تومان</span>
                                <span class="new">730,000 تومان</span>
                            </div>
                            <div class="product-modal-link">
                                <form action="">
                                    <div>
                                        <input type="text" name="count" class="counter" value="1" style="width: 70px;">
                                    </div>
                                    <button type="submit" class="btnx btnx-default ms-3">
                                        <i class="bi bi-cart-plus"></i>
                                        افزودن به سبد خرید
                                    </button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end product modal-->


    <div class="cart-slides" id="cartSlide">
        <div class="cart-slide-overlay"></div>
        <div class="cart-slide col-md-5 col-lg-3 col-sm-6 col-8">
            <div class="cart-slide-title">
                <h6>سبد خرید</h6>
                <i class="bi bi-x-lg" id="cartSlideColse"></i>
            </div>
            <div class="cart-slide-desc">
                <div class="empty-cart d-none">
                    <img src="img/other/cart-empty.png" alt="" class="img-fluid">
                    <h6>سبد خرید خالی میباشد</h6>
                </div>
                <div class="cart-product">
                    <div class="title">
                        <div class="d-flex align-items-center">
                            <img src="img/product/laptop1.jpg" alt="">
                            <h6 class="fw-bold text-start">تبلت مایکروسافت مدل Surface Pro 8 - F ظرفیت 512 گیگابایت</h6>
                            <i class="bi bi-x-circle-fill pointer text-muted"></i>
                        </div>
                        <div class="count">
                            <span>1 ×</span>
                            <span>5,500,000 تومان</span>
                        </div>
                    </div>
                </div>
                <div class="cart-product">
                    <div class="title">
                        <div class="d-flex align-items-center">
                            <img src="img/product/wach4.jpg" alt="">
                            <h6 class="fw-bold text-start">ساعت هوشمند هوآوی مدل Watch 3 بند سیلیکونی</h6>
                            <i class="bi bi-x-circle-fill pointer text-muted"></i>
                        </div>
                        <div class="count">
                            <span>1 ×</span>
                            <span>750,000 تومان</span>
                        </div>
                    </div>
                </div>
                <div class="cart-product">
                    <div class="title">
                        <div class="d-flex align-items-center">
                            <img src="img/product/wach4.jpg" alt="">
                            <h6 class="fw-bold text-start">ساعت هوشمند هوآوی مدل Watch 3 بند سیلیکونی</h6>
                            <i class="bi bi-x-circle-fill pointer text-muted"></i>
                        </div>
                        <div class="count">
                            <span>1 ×</span>
                            <span>750,000 تومان</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="cart-price">
                <div class="cart-price-count">
                    <span>مجموع :</span>
                    <span> 63,000,000 تومان</span>
                </div>
                <div class="cart-price-btn">
                    <a href="" class="btn-main">مشاهده سبد خرید</a>
                    <a href="" class="btn-outline">تسویه حساب</a>
                </div>
            </div>
        </div>
    </div>
    <!-- end cart slide -->


    <script src="~/js/jquery-3.6.1.min.js"></script>
    <script src="~/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/swiper-bundle.min.js"></script>
    <script src="~/js/app.js"></script>
    <script src="~/js/plugin/countdown/countdown.js"></script>
    <script src="~/js/plugin/range/jQuery.inputSliderRange.min.js"></script>
    <script src="~/js/plugin/back-to-top/jquery-backToTop.min.js"></script>
    <script src="~/js/plugin/bootstrap-touchspin/jquery.bootstrap-touchspin.min.js"></script>
    <script src="~/js/jquery-app.js"></script>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>