@using App.Domain.Core.DtoModels;
@model List<UserDto>

@{
    ViewData["Title"] = "کاربران";
    Layout = "_AdminLayout";
}


<table class="table table-striped table-bordered">
    <thead>
        <tr class="bg-info text-white">
            <th>
                شماره
            </th>

            <th>
                نام کاربری
            </th>

            <th>
                ایمیل
            </th>

            <th>
                شماره تلفن
            </th>

            <th> عملیات</th>
        </tr>
    </thead>

    <tbody>
        @foreach (var item in Model)
        {
            if (!item.IsDeleted)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Id)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.UserName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Email)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PhoneNumber)
                    </td>
                </tr>
            }
        }

    </tbody>

</table>